---
layout: layout
---

#photodisplay

  = image_tag "00-obkladynka.jpg"
  = image_tag "01-pershastorinka-x1.jpg"
  = image_tag "02-03-portraits-x2.jpg"
  = image_tag "04-05-uroky-x2.jpg"
  = image_tag "06-07-uroky-x2.jpg"
  = image_tag "08-09-osin-x2.jpg"
  = image_tag "10-11-festival-x2.jpg"
  = image_tag "12-13-mykolaya-x2.jpg"
  = image_tag "14-15-sh-vechir-x2.jpg"
  = image_tag "16-17-varenyky-x2.jpg"
  = image_tag "18-19-velykden-pysanky.jpg"
  = image_tag "20-21svyato-mamy.jpg"
  = image_tag "22-23-parad-vyshyv.jpg"
  = image_tag "24-25-malyvannya.jpg"
  = image_tag "26-27-ivasyk-telesyk.jpg"
  = image_tag "28-29-vypusk.jpg"
  = image_tag "30-31na-pryrodi.jpg"
  = image_tag "32-ostannya.jpg"
  = image_tag "33-back-cover.jpg"

  #help
    | Користуйтесь мишкою: стрілки ліворуч чи праворуч.
    br  Клавішами стрілок &leftarrow;, &rightarrow; чи Space на клавіатурі.

#prev
  i.fa.fa-arrow-circle-o-left.fa-lg
#next
  i.fa.fa-arrow-circle-o-right.fa-lg
